.header {
  
  h1 {
    font-size: 3.3rem;
    text-shadow: 2px 3px 0px black;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 25px;
    @media (max-width: 850px) {
      padding-top: 15px;
    }
  }
  nav {
    position: relative;
    top: 16px;
    left: 16px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    @media (max-width: 680px) {
    font-size: 1rem;
  }

    ul {
      display: flex;

      a {
        text-decoration: none;
        color: $white;
        border-radius: 10px;
        width: 102px;
        text-align: center;
        margin-right: 5px;
        padding : 3px 25px;

        &:visited {
          text-decoration: none;
          color: $white;
        }
        &:hover {
          background: $black;
        }
      }
      a.nav-active {
        background: #0582bc;

        &:hover {
          background: $black;
        }
      }
    }
  }
}
